/*
 * Variables and optional mixins, written in SCSS.
 * Examples taken from http://sass-lang.com/guide
 *
 */

$font-stack:  shadows-into-light-two;
$primary-color: #FFF;
$grey: rgba(192, 192, 192, 0.5) ;
