/*
 * Variables and optional mixins, written in SCSS.
 * Examples taken from http://sass-lang.com/guide
 *
 */
$font-stack: shadows-into-light-two;
$signiture:cedarville-cursive;
$primary-color: #FFF;
$grey: rgba(192, 192, 192, 0.5) ;
$red: #BF0000;
$paper: #F0F2E1;
$shadow: #3A3B37;
