/* This is the master SCSS file
 * from which all other SCSS files will be called.
 * Examples taken from http://sass-lang.com/guide
 */
/*
 * Variables and optional mixins, written in SCSS.
 * Examples taken from http://sass-lang.com/guide
 *
 */
/* line 1, C:/Users/bubba_000/Documents/GitHub/mothersday/style/_main.scss */
body {
  font-family: shadows-into-light-two;
  background: #FFF top left repeat-x;
  background-color: #BF0000; }

/* line 7, C:/Users/bubba_000/Documents/GitHub/mothersday/style/_main.scss */
#page {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #BF0000;
  height: 100%;
  width: 100%; }
  /* line 12, C:/Users/bubba_000/Documents/GitHub/mothersday/style/_main.scss */
  #page .container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 800px;
    background-image: url('images/img-noise-800x1000.png');
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: .7em .7em 1em #3A3B37; }
    /* line 20, C:/Users/bubba_000/Documents/GitHub/mothersday/style/_main.scss */
    #page .container h1 {
      font-size: 2em;
      margin-bottom: 0.2em;
      padding-bottom: 0; }
    /* line 25, C:/Users/bubba_000/Documents/GitHub/mothersday/style/_main.scss */
    #page .container p {
      font-size: 1.5em;
      margin-top: 0;
      padding-top: 0; }
    /* line 30, C:/Users/bubba_000/Documents/GitHub/mothersday/style/_main.scss */
    #page .container h2 {
      font-family: cedarville-cursive;
      font-size: 40px;
      -webkit-align-self: flex-end;
          -ms-flex-item-align: end;
              align-self: flex-end; }
    /* line 35, C:/Users/bubba_000/Documents/GitHub/mothersday/style/_main.scss */
    #page .container h3 {
      font-family: cedarville-cursive;
      font-size: 30px;
      margin-top: 0;
      -webkit-align-self: flex-end;
          -ms-flex-item-align: end;
              align-self: flex-end; }

/* line 44, C:/Users/bubba_000/Documents/GitHub/mothersday/style/_main.scss */
#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #BF0000;
  background-repeat: no-repeat; }
  /* line 54, C:/Users/bubba_000/Documents/GitHub/mothersday/style/_main.scss */
  #loading h1 {
    font-family: open-sans;
    color: black; }
